In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
from collections import Counter
from itertools import chain

In [2]:
df = pd.read_json("naukri_data_all.json")

In [3]:
df.head()

,job_title,company_name,experience,salary,location,job_description,role,industry_type,department,employment_type,role_category,education,key_skills,date_posted,num_openings,num_applicants
0,Data Analyst (0-2yrs) Bangalore,Gupta And Sharma,0 - 2 years,"₹ 3,50,000 - 6,00,000 P.A.",Bangalore/Bengaluru( Whitefield ),Roles and Responsibilities\nAcquiring data fro...,Data Analyst,Banking,Data Science & Analytics,"Full Time, Permanent",Business Intelligence & Analytics,"B.Tech/B.E. in Computers, B.Sc in Computers, B...","[plsql, excel, data analysis, sas, oracle sql,...",1 day ago,3.0,2647
1,French Data Analyst,Randstad,0 - 1 years,"₹ 2,50,000 - 3,50,000 P.A.",PAN India,Roles and Responsibilities\n\nJob Description:...,Data Analyst,IT Services & Consulting,Data Science & Analytics,"Full Time, Permanent",Business Intelligence & Analytics,Any Graduate,"[Bi-lingual French, French Data Analyst]",1 day ago,NaN,145
2,Data Analyst,Namdhari Seeds3.7(44 Reviews),0 - 2 years,Not Disclosed,Bangalore/Bengaluru,Roles and Responsibilities\nCreate and validat...,Other,Agriculture / Forestry / Fishing,Other,"Full Time, Permanent",Other,MBA/PGDM in Any Specialization,"[supply chain operations, data analytics, dash...",13 days ago,NaN,8751
3,Business Analyst/ Software Analyst/ Data Analyst,Optiontown2.4(24 Reviews),0 - 2 years,"₹ 4,00,000 - 7,00,000 P.A.",New Delhi( Rani Bagh ),"Analysts will leverage analytic, quantitative ...",Business Analyst,Aviation,Data Science & Analytics,"Full Time, Permanent",Business Intelligence & Analytics,B.Tech/B.E. in Any Specialization,"[Analysis, Predictive Modeling, Requirement Ga...",1 day ago,NaN,1358
4,HR Data Analyst,Walmart4.2(12887 Reviews),2 - 5 years,Not Disclosed,Bangalore/Bengaluru,Data Analyst - TA Position summary:\nDemonstra...,HR Analyst,Software Product,Human Resources,"Full Time, Temporary/Contractual",HR Operations,Any Graduate,"[Excel Report Preparation, excel, data analyti...",Few Hours Ago,NaN,50

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 967 entries, 0 to 966
Data columns (total 16 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   job_title        967 non-null    object
 1   company_name     967 non-null    object
 2   experience       967 non-null    object
 3   salary           967 non-null    object
 4   location         967 non-null    object
 5   job_description  967 non-null    object
 6   role             967 non-null    object
 7   industry_type    967 non-null    object
 8   department       967 non-null    object
 9   employment_type  967 non-null    object
 10  role_category    967 non-null    object
 11  education        967 non-null    object
 12  key_skills       967 non-null    object
 13  date_posted      967 non-null    object
 14  num_openings     704 non-null    float64
 15  num_applicants   967 non-null    object
dtypes: float64(1), object(15)
memory usage: 121.0+ KB

In [5]:
df['role'].unique()

array(['Data Analyst', 'Other', 'Business Analyst', 'HR Analyst',
       'Data Science & Analytics - Other', 'Service Engineer',
       'Investment Banking Analyst',
       'Business Intelligence & Analytics - Other', 'Financial Analyst',
       'Research & Development - Other', 'Social Media Marketing',
       'Technical Consultant', 'IT & Information Security - Other',
       'Software Development - Other', 'System Analyst',
       'Database Analyst', 'MIS Executive',
       'Non Tech Support - Voice / Blended', 'Technical Lead',
       'Database Architect / Designer', 'Database Administrator',
       'IT Support - Other', 'Marketing - Other',
       'Analytics / BI Manager', 'Data Engineer', 'Statistician',
       'MIS Manager', 'Database Developer / Engineer',
       'Sales Support & Operations - Other',
       'Market Research / Insights Head', 'Research Analyst',
       'Back End Developer', 'Non Tech Support - Non Voice',
       'Product Manager - Other', 'Regulatory Affairs Compliance',
       'Security Engineer / Analyst',
       'Business Development Manager (BDM)', 'Business - Other',
       'Operations Support - Other', 'Team Leader', 'Technical Architect',
       'BFSI', 'Production / Manufacturing Head', 'Data Scientist',
       'DBA / Data warehousing - Other', 'Operations - Other',
       'Analytics Consultant', 'Data warehouse Developer',
       'IT Project Lead', 'Research Associate / Engineer',
       'Manager - Data Science', 'Product Analyst',
       'IT Consulting - Other', 'Branch Sales Executive',
       'Accountant / Accounts Executive', 'Clinical research Scientist',
       'Product Manager', 'Full Stack Developer',
       'Customer Success Manager',
       'Data warehouse Architect / Consultant', 'Research Scientist',
       'HR Generalist', 'Recruitment & Talent Acquisition - Other',
       'System Security Engineer', 'Sr. Consultant', 'Country Head',
       'Logistics Executive', 'Technical Support - Voice / Blended',
       'BI Developer', 'Market Research Manager',
       'BD / Pre Sales - Other', 'Technical Support - Non Voice',
       'Network Manager / Administrator'], dtype=object)

In [6]:
df['education'].unique()

array(['B.Tech/B.E. in Computers, B.Sc in Computers, BCA in Computers',
       'Any Graduate', 'MBA/PGDM in Any Specialization',
       'B.Tech/B.E. in Any Specialization', 'Other Post Graduate',
       'B.Sc in Computers',
       'B.Sc in Any Specialization, BCA in Any Specialization, B.Tech/B.E. in Any Specialization',
       'BCA in Any Specialization, B.Sc in Any Specialization, B.Tech/B.E. in Any Specialization',
       'BCA in Computers, B.Sc in Any Specialization, B.Com in Commerce, Any Graduate, B.Tech/B.E. in Any Specialization',
       'B.B.A/ B.M.S in Management, Any Graduate',
       'BCA in Computers, B.Tech/B.E. in Computers, B.Sc in Maths, Computers, Statistics, B.A in Economics, Statistics',
       'B.A in Economics, Statistics, Maths, B.Tech/B.E. in Computers, B.Sc in Maths, Computers, Statistics, BCA in Computers',
       'MBA/PGDM in Finance', 'B.Tech/B.E. in Civil',
       'Graduation Not Required', 'Any Postgraduate',
       'B.Sc in Maths, Computers, Statistics',
       'B.Com in Any Specialization',
       'B.Tech/B.E. in Any Specialization, B.Sc in Any Specialization, BCA in Any Specialization',
       'B.Sc in Maths, Physics, Computers, Diploma in Engineering',
       'MBA/PGDM in Marketing',
       'Any Graduate, B.B.A/ B.M.S in Management',
       'BCA in Any Specialization, B.Sc in Computers, B.Tech/B.E. in Any Specialization',
       'B.Tech/B.E. in Production/Industrial',
       'B.Tech/B.E. in Any Specialization, Any Graduate',
       'B.A in Maths, B.Sc in Maths, B.Tech/B.E. in Any Specialization',
       'BCA in Any Specialization, B.Tech/B.E. in Any Specialization, B.Sc in Any Specialization',
       'B.Tech/B.E. in Any Specialization, B.Sc in Any Specialization',
       'B.Sc in Any Specialization, B.Tech/B.E. in Any Specialization, BCA in Any Specialization',
       'B.Sc in Computers, B.Tech/B.E. in Computers, BCA in Computers',
       'BCA in Any Specialization',
       'B.Tech/B.E. in Production/Industrial, BCA in Computers',
       'Any Graduate, B.Tech/B.E. in Production/Industrial',
       'B.Tech/B.E. in Computers, BCA in Computers, B.A in Statistics, Maths, B.Sc in Maths, Computers, Statistics',
       'B.Sc in Chemistry',
       'CA in Any Specialization, MBA/PGDM in Finance',
       'B.B.A/ B.M.S in Any Specialization, B.A in Economics',
       'B.A in Statistics, Maths, B.Sc in Maths, Computers, Statistics, B.Tech/B.E. in Computers, BCA in Computers',
       'B.A in Economics, Maths, B.Sc in Maths',
       'B.Com in Any Specialization, B.Tech/B.E. in Computers, B.A in Economics',
       'B.Tech/B.E. in Computers', 'B.Tech/B.E.',
       'B.Tech/B.E. in Electrical',
       'B.Tech/B.E. in Computers, B.Sc in Maths, Computers, Statistics, BCA in Computers, B.A in Statistics, Maths',
       'Any Graduate, B.Tech/B.E. in Any Specialization, B.Sc in Any Specialization, BCA in Any Specialization, B.B.A/ B.M.S in Any Specialization, B.Com in Any Specialization',
       'B.Tech/B.E. in Any Specialization, BCA in Any Specialization, B.Sc in Any Specialization',
       'Any Graduate, B.Tech/B.E. in Production/Industrial, B.Sc in Chemistry',
       'B.B.A/ B.M.S in Management', 'Any Graduate, BCA in Computers',
       'Any Graduate, B.A in Any Specialization',
       'B.A in Any Specialization, B.Tech/B.E. in Any Specialization, Any Graduate, B.Sc in Any Specialization',
       'Any Graduate, B.Tech/B.E. in Any Specialization',
       'B.Tech/B.E. in Production/Industrial, B.Sc in Chemistry',
       'B.Sc in Chemistry, B.Com in Commerce, B.Tech/B.E. in Production/Industrial',
       'BCA in Computers, B.A in Economics, Statistics, Maths, B.Tech/B.E. in Computers, B.Sc in Maths, Statistics, Computers',
       'MS/M.Sc(Science) in Data Informatics, Maths, Computers, Statistics',
       'B.Tech/B.E. in Computers, B.Sc in Maths, Computers, Statistics, BCA in Computers, B.A in Economics, Statistics, Maths',
       'B.A',
       'B.Sc in Maths, Statistics, Computers, B.A in Statistics, Maths, BCA in Computers, B.Tech/B.E. in Computers',
       'Any Graduate, B.Sc in Any Specialization, B.Tech/B.E. in Any Specialization',
       'B.Sc in Maths, Statistics',
       'B.Tech/B.E. in Any Specialization, BCA in Any Specialization',
       'Any Graduate, B.Sc in Chemistry, B.Tech/B.E. in Production/Industrial',
       'B.Tech/B.E. in Any Specialization, B.A in Any Specialization, B.Sc in Any Specialization',
       'B.A in Any Specialization, Any Graduate',
       'Any Graduate, Diploma in Any Specialization',
       'B.Pharma in Any Specialization',
       'B.Tech/B.E. in Any Specialization, Diploma in Any Specialization',
       'BCA in Computers, B.Sc in Computers, B.Tech/B.E. in Computers',
       'B.Sc in Computers, Diploma in Any Specialization, B.Tech/B.E. in Any Specialization',
       'Any Graduate, B.Sc in Computers, B.Tech/B.E. in Computers',
       'B.Sc in Any Specialization', 'BDS in Dentistry, Any Graduate',
       'BCA in Any Specialization, B.Tech/B.E. in Any Specialization',
       'B.A in Any Specialization, B.Sc in Any Specialization',
       'B.A, B.Sc in Chemistry, Any Graduate',
       'B.B.A/ B.M.S in Management, B.A',
       'B.Sc in Chemistry, BCA in Computers',
       'B.Tech/B.E. in Any Specialization, B.Sc in Any Specialization, B.A in Any Specialization',
       'B.A in Any Specialization, B.Sc in Any Specialization, B.Tech/B.E. in Any Specialization',
       'BCA in Computers', 'B.Sc in Computers, B.Tech/B.E. in Computers',
       'B.A in Maths, B.Sc in Maths, Statistics',
       'B.Sc in Maths, Physics, B.Tech/B.E. in Computers, B.A in Maths',
       'B.A in Fine Arts, B.Tech/B.E. in Production/Industrial, Any Graduate',
       'B.B.A/ B.M.S in Any Specialization, Any Graduate',
       'B.Tech/B.E. in Computers, BCA in Computers, B.Sc in Computers',
       'B.Sc in Chemistry, B.Tech/B.E. in Production/Industrial',
       'B.Tech/B.E. in Any Specialization, B.Sc in Maths, Statistics',
       'B.B.A/ B.M.S in Management, Any Graduate, B.Tech/B.E. in Production/Industrial',
       'B.Tech/B.E. in Production/Industrial, Any Graduate',
       'B.Sc in Computers, B.Tech/B.E. in Any Specialization, BCA in Any Specialization',
       'LLB in Law', 'B.A, B.B.A/ B.M.S in Management, Any Graduate',
       'BCA in Computers, B.Sc in Maths, Computers, Statistics, B.Tech/B.E. in Computers, B.A in Statistics, Maths',
       'BCA in Computers, B.Tech/B.E. in Computers, B.Sc in Computers',
       'B.Sc in Computers, BCA in Computers, B.Tech/B.E. in Computers',
       'B.A, Any Graduate', 'Diploma in Any Specialization',
       'B.A in Economics',
       'B.Tech/B.E. in Production/Industrial, B.Com in Commerce',
       'Diploma in Mechanical, Any Graduate'], dtype=object)

In [7]:
df['role'].value_counts().head(20)

Data Analyst                          566
Business Analyst                      133
Back End Developer                     25
System Analyst                         21
Other                                  19
Database Architect / Designer          18
Non Tech Support - Voice / Blended     16
Non Tech Support - Non Voice           16
Data Science & Analytics - Other       11
Financial Analyst                       8
Database Analyst                        7
Database Administrator                  6
Data Engineer                           6
Software Development - Other            5
IT Support - Other                      4
Technical Lead                          4
Analytics / BI Manager                  4
Operations Support - Other              4
BFSI                                    4
Data Scientist                          4
Name: role, dtype: int64

In [8]:
df['education'].value_counts()

Any Graduate                                                                                                             717
B.Tech/B.E. in Any Specialization                                                                                         52
B.Tech/B.E. in Computers                                                                                                  28
B.Tech/B.E. in Production/Industrial                                                                                      15
B.Sc in Any Specialization, BCA in Any Specialization, B.Tech/B.E. in Any Specialization                                   6
                                                                                                                        ...
BCA in Computers, B.A in Economics, Statistics, Maths, B.Tech/B.E. in Computers, B.Sc in Maths, Statistics, Computers      1
B.Sc in Chemistry, B.Com in Commerce, B.Tech/B.E. in Production/Industrial                                                 1
B.Tech/B.E. in Production/Industrial, B.Sc in Chemistry                                                                    1
MBA/PGDM in Finance                                                                                                        1
Diploma in Mechanical, Any Graduate                                                                                        1
Name: education, Length: 102, dtype: int64

In [9]:
df['salary'].value_counts()

Not Disclosed                     855
₹ 15,00,000 - 30,00,000 P.A.        4
₹ 3,00,000 - 5,00,000 P.A.          4
₹ 15,00,000 - 27,50,000 P.A.        3
₹ 60,00,000 - 1,00,00,000 P.A.      3
                                 ...
₹ 2,50,000 - 3,50,000 P.A.          1
₹ 3,00,000 - 4,50,000 P.A.          1
₹ 7,00,000 - 13,00,000 P.A.         1
₹ 7,00,000 - 9,00,000 P.A.          1
₹ 2,00,000 - 7,00,000 P.A.          1
Name: salary, Length: 82, dtype: int64

In [10]:
# percentage of not disclosed
855/df.shape[0]

0.8841778697001034

In [11]:
df['experience'].value_counts().head(50)

2 - 5 years      83
5 - 10 years     60
2 - 4 years      60
3 - 8 years      54
1 - 3 years      50
3 - 6 years      49
2 - 7 years      48
0 - 2 years      41
1 - 4 years      41
3 - 5 years      36
5 - 8 years      31
1 - 6 years      23
1 - 2 years      22
2 - 3 years      22
4 - 9 years      22
3 - 7 years      20
4 - 6 years      20
4 - 7 years      19
2 - 6 years      18
0 - 1 years      18
6 - 11 years     18
3 - 4 years      17
1 - 5 years      17
5 - 7 years      17
0 - 3 years      15
0 - 4 years      13
7 - 12 years     12
4 - 8 years      11
6 - 8 years       9
8 - 10 years      9
7 - 10 years      7
4 - 5 years       6
0 - 5 years       6
8 - 13 years      6
5 - 9 years       5
8 - 12 years      5
6 - 9 years       5
10 - 20 years     4
0 years           4
0 - 6 years       4
2 - 8 years       3
3 - 9 years       3
7 - 9 years       3
5 - 6 years       3
10 - 15 years     3
6 - 10 years      2
7 - 11 years      2
10 - 12 years     2
1 years           1
15 - 18 years     1
Name: experience, dtype: int64

In [12]:
df['company_name'].value_counts().head(20)

Optum4.1(2117 Reviews)                               21
Varite3.7(81 Reviews)                                18
Seven Consultancy (HR Solution)                      17
Huquo Consulting Pvt. Ltd                            16
Applycup Hiring Solutions Llp4.9(15 Reviews)         10
Deutsche Bank4.2(2087 Reviews)                        9
Wells Fargo4.2(3470 Reviews)                          9
BNY Mellon4.2(2542 Reviews)                           8
Megma Services                                        6
Anicalls4.7(2 Reviews)                                6
Skillety3.8(3 Reviews)                                6
Diverse Lynx3.3(76 Reviews)                           6
Goalreify Ventures4.8(5 Reviews)                      6
SAC Management1.9(14 Reviews)                         5
Urjanet Energy Solutions3.8(80 Reviews)               5
ICE3.8(20 Reviews)                                    5
Virtue Analytics4.6(7 Reviews)                        5
Walmart4.2(12887 Reviews)                             5
Institutional Shareholder Services3.5(30 Reviews)     4
Boston Consulting Group4.1(144 Reviews)               4
Name: company_name, dtype: int64

In [13]:
df['location'].value_counts().head(20)

Bangalore/Bengaluru                            229
Mumbai                                          84
Pune                                            63
Hyderabad/Secunderabad                          63
Chennai                                         60
Gurgaon/Gurugram                                56
Noida                                           30
Bengaluru                                       24
Remote                                          22
New Delhi                                       18
remote                                          14
Ahmedabad                                       12
Gurgaon/Gurugram, Bangalore/Bengaluru           10
Hyderabad                                       10
Hyderabad/Secunderabad, Bangalore/Bengaluru      9
Mumbai (All Areas)                               9
Chennai, Bangalore/Bengaluru                     7
Jaipur                                           7
Gurgaon                                          6
Lucknow                                          6
Name: location, dtype: int64

In [14]:
df['industry_type'].value_counts().head(50)

IT Services & Consulting                                 327
Recruitment / Staffing                                   124
Banking                                                   59
Internet                                                  50
Analytics / KPO / Research                                43
Software Product                                          33
Financial Services                                        31
Management Consulting                                     31
BPO / Call Centre                                         22
Pharmaceutical & Life Sciences                            18
Medical Services / Hospital                               16
Education / Training                                      15
Industrial Equipment / Machinery                          14
Advertising & Marketing                                   14
Film / Music / Entertainment                              12
Retail                                                    11
Automobile                                                10
Insurance                                                 10
Telecom / ISP                                             10
Courier / Logistics                                        7
Miscellaneous                                              7
Hardware & Networking                                      7
Engineering & Construction                                 6
Accounting / Auditing                                      6
Travel & Tourism                                           5
Petrochemical / Plastics / Rubber                          5
Electronic Components / Semiconductors                     5
FMCG                                                       4
Aviation                                                   4
NGO / Social Services / Industry Associations              4
Electronics Manufacturing                                  4
Medical Devices & Equipment                                4
Real Estate                                                4
Building Material                                          3
E-Learning / EdTech                                        3
Consumer Electronics & Appliances                          3
Gems & Jewellery                                           3
Power                                                      3
NBFC                                                       3
Fitness & Wellness                                         3
Ports & Shipping                                           2
Investment Banking / Venture Capital / Private Equity      2
Events / Live Entertainment                                2
Gaming                                                     2
Defence & Aerospace                                        2
Beverage                                                   1
Printing & Publishing                                      1
Government / Public Administration                         1
Auto Components                                            1
Textile & Apparel                                          1
Name: industry_type, dtype: int64

In [15]:
df['employment_type'].value_counts()

Full Time, Permanent                958
Full Time, Temporary/Contractual      9
Name: employment_type, dtype: int64

In [16]:
df['department'].value_counts()

Data Science & Analytics                   729
Engineering - Software & QA                 83
Customer Success, Service & Operations      48
IT & Information Security                   30
Other                                       19
Finance & Accounting                        10
BFSI, Investments & Trading                  8
Sales & Business Development                 6
Research & Development                       6
Product Management                           5
Marketing & Communication                    5
Consulting                                   5
Human Resources                              4
Risk Management & Compliance                 2
Project & Program Management                 2
Legal & Regulatory                           1
Production, Manufacturing & Engineering      1
Strategic & Top Management                   1
Procurement & Supply Chain                   1
Engineering - Hardware & Networks            1
Name: department, dtype: int64

In [17]:
df['num_openings'].value_counts(dropna=False)

1.0     651
NaN     263
2.0      14
4.0       9
5.0       9
3.0       4
10.0      3
9.0       3
7.0       3
6.0       2
20.0      2
50.0      1
87.0      1
21.0      1
30.0      1
Name: num_openings, dtype: int64

In [18]:
df['num_openings'].nlargest()

863    87.0
106    50.0
890    30.0
883    21.0
423    20.0
Name: num_openings, dtype: float64

In [19]:
df.iloc[863]

job_title          EDP officer / Data Analyst | Jhunjhunun | Raja...
company_name                                      RMW India Services
experience                                               0 - 4 years
salary                                    ₹ 3,00,000 - 5,00,000 P.A.
location                          Chandrapur, Jhunjhunun, Ahmednagar
job_description    - Process various forms for admission, test re...
role                                                    Data Analyst
industry_type                                    E-Learning / EdTech
department                                  Data Science & Analytics
employment_type                                 Full Time, Permanent
role_category                      Business Intelligence & Analytics
education                                               Any Graduate
key_skills         [Advanced Excel, Report Preparation, Data Entr...
date_posted                                              18 days ago
num_openings                                                    87.0
num_applicants                                                   780
Name: 863, dtype: object

In [20]:
# Flatten the list of skills into a single list
skills = list(chain.from_iterable(df['key_skills']))

# Count the occurrences of each skill
skill_counts = Counter(skills)

# Sort the skills by their count in descending order
most_common_skills = skill_counts.most_common()

# Print the most common skills
print(most_common_skills[:50])

[('SQL', 400), ('Data Analyst', 313), ('Python', 273), ('Data analysis', 201), ('Analytical', 163), ('Analytics', 154), ('Excel', 100), ('Data management', 100), ('Data Analysis', 91), ('data analysis', 88), ('Data Analytics', 85), ('Data mining', 83), ('Data quality', 81), ('Data collection', 75), ('Tableau', 67), ('Business intelligence', 65), ('Computer science', 63), ('Data analytics', 62), ('Monitoring', 58), ('SAS', 57), ('Operations', 53), ('Management', 53), ('data visualization', 48), ('Data modeling', 44), ('power bi', 43), ('Machine learning', 42), ('Process improvement', 42), ('Automation', 42), ('MySQL', 41), ('Consulting', 39), ('Macros', 36), ('Recruitment', 35), ('MIS', 34), ('MS Office', 34), ('Advanced Excel', 34), ('data science', 33), ('CRM', 31), ('python', 31), ('Project management', 31), ('Financial services', 31), ('Analytical skills', 31), ('Power BI', 30), ('Data Management', 30), ('Coding', 29), ('microsoft', 29), ('Healthcare', 29), ('Oracle', 27), ('Statistics', 26), ('tableau', 26), ('sql', 26)]

In [21]:
df['role_category'].value_counts().head(10)

Business Intelligence & Analytics    709
Software Development                  42
DBA / Data warehousing                41
IT Infrastructure Services            21
Other                                 19
Non Voice                             18
Voice / Blended                       17
Data Science & Analytics - Other      11
Data Science & Machine Learning        9
Finance                                8
Name: role_category, dtype: int64

In [22]:
df['date_posted'].unique()

array(['1 day ago', '13 days ago', 'Few Hours Ago', '5 days ago',
       'Just now', '6 days ago', '8 days ago', '14 days ago',
       '15 days ago', '7 days ago', '12 days ago', '4 days ago',
       '11 days ago', '3 days ago', '30+ days ago', '25 days ago',
       '22 days ago', '27 days ago', '10 days ago', '19 days ago',
       '29 days ago', '18 days ago', '20 days ago', '17 days ago',
       '28 days ago', '16 days ago', '21 days ago', '26 days ago',
       '24 days ago', '30 days ago'], dtype=object)

In [23]:
df['date_posted'].value_counts().head()

30+ days ago    531
6 days ago       33
11 days ago      30
18 days ago      26
8 days ago       26
Name: date_posted, dtype: int64

In [24]:
df['num_applicants'].unique()

array(['2647', '145', '8751', '1358', '50', '263', 'Less than 10', '89',
       '432', '308', '4232', '4315', '1570', '4789', '158', '1338', '344',
       '934', '52', '1141', '1241', '1940', '1170', '984', '305', '398',
       '59', '57', '379', '1341', '1159', '6097', '64', '314', '140',
       '212', '8853', '4634', '32', '96', '114', '110', '319', '840',
       '573', '2341', '222', '200', '69', '137', '94', '102', '225',
       '105', '1498', '1068', '159', '395', '851', '106', '121', '10',
       '70', '60', '527', '51', '47', '3824', '1366', '371', '1883', '33',
       '71', '246', '1245', '45', '35', '467', '564', '649', '125', '161',
       '103', '260', '437', '151', '231', '205', '363', '505', '219',
       '7727', '1586', '188', '116', '422', '38', '12327', '1925',
       '83470', '3383', '415', '412', '904', '3269', '881', '493', '155',
       '442', '496', '2694', '115', '1127', '384', '182', '1578', '243',
       '236', '46', '306', '208', '802', '296', '274', '43', '179',
       '4768', '1243', '938', '80', '8279', '2069', '36', '915', '748',
       '500', '192', '529', '293', '85', '832', '13', '108', '101', '216',
       '40', '857', '860', '689', '1793', '304', '24', '2589', '478',
       '280', '792', '1438', '531', '173', '191', '136', '543', '1201',
       '302', '91', '18', '53', '771', '640', '2101', '2096', '5471',
       '5364', '63', '2562', '1772', '9104', '2910', '1728', '2342',
       '3599', '9528', '288', '252', '660', '595', '12516', '4370',
       '3338', '778', '1188', '457', '693', '466', '201', '39', '588',
       '37', '154', '375', '582', '56', '30', '2419', '548', '3976',
       '4123', '4196', '165', '1132', '596', '2271', '74', '1082', '3865',
       '1040', '5349', '4749', '2699', '248', '3561', '4055', '1994',
       '1552', '1339', '510', '7875', '623', '2099', '408', '1808',
       '5405', '393', '3608', '2650', '382', '974', '210', '639', '164',
       '156', '908', '847', '541', '763', '699', '870', '2780', '133',
       '3224', '117', '1251', '254', '430', '607', '100', '340', '134',
       '332', '320', '6146', '669', '78', '143', '152', '329', '3282',
       '58', '957', '2198', '7853', '271', '99', '14', '82', '160',
       '1371', '167', '15', '189', '463', '353', '3980', '3738', '402',
       '461', '55', '583', '2912', '1116', '449', '157', '317', '1162',
       '695', '190', '170', '207', '1161', '147', '62', '150', '291',
       '12', '1333', '1916', '452', '4221', '1042', '84', '2801', '421',
       '264', '519', '144', '1067', '561', '178', '930', '209', '153',
       '5636', '905', '1310', '594', '193', '1073', '390', '269', '1059',
       '1391', '206', '19', '661', '194', '1565', '5430', '488', '1184',
       '842', '797', '591', '199', '119', '61', '1740', '90', '359',
       '203', '235', '29', '787', '26', '2337', '92', '370', '986', '148',
       '299', '234', '128', '3301', '185', '1218', '138', '397', '992',
       '3683', '1573', '132', '95', '54', '49', '118', '433', '2251',
       '87', '73', '253', '545', '663', '665', '195', '229', '130', '233',
       '93', '1385', '429', '2104', '104', '729', '135', '641', '120',
       '511', '295', '327', '606', '1413', '4632', '2371', '577', '1417',
       '81', '358', '242', '3675', '602', '810', '677', '2285', '75',
       '506', '916', '547', '615', '1859', '66', '25', '2152', '972',
       '535', '1419', '1009', '2027', '900', '898', '31', '23', '88',
       '129', '8004', '1134', '1787', '109', '127', '473', '131', '163',
       '1221', '77', '86', '989', '124', '42', '211', '404', '734', '76',
       '631', '79', '1936', '338', '593', '336', '793', '756', '68',
       '550', '537', '508', '139', '259', '854', '620', '3084', '1840',
       '168', '559', '107', '443', '197', '921', '498', '1364', '2338',
       '416', '425', '1088', '298', '1021', '444', '601', '503', '1197',
       '568', '213', '1070', '215', '655', '285', '779', '546', '2497',
       '985', '1125', '224', '250', '586', '316', '256', '3381', '585',
       '1954', '2804', '618', '480', '16', '707', '72', '687', '276',
       '257', '258', '592', '223', '240', '48', '486', '753', '668',
       '560', '17', '181', '300', '255', '804', '1514', '617', '184',
       '391', '494', '554', '362', '499', '244', '1061', '3678', '813',
       '951', '177', '1344', '183', '2614', '171', '238', '141', '454',
       '342', '22', '504', '424', '479', '313', '162', '4783', '267',
       '67', '705', '551', '385', '566', '149', '174', '111', '567',
       '3265', '2690', '1190', '696', '1074', '685', '270', '239', '737',
       '279', '2898', '780', '292', '4278', '2849', '1990', '2173',
       '2446', '3741', '477', '326', '691', '83', '528', '1667', '765',
       '1051', '1233', '322', '610', '1416', '521', '123', '2124', '1892',
       '1650', '146', '824', '446', '277', '517', '41', '2807', '2250',
       '278', '97', '730', '1430', '628', '247'], dtype=object)

In [25]:
# cleaning company name to remove reviews which accompanies with it sometimes
df['company_name'] = df['company_name'].str.replace(r'\d+\.\d+\(.*$', '')

C:\Users\Moham\AppData\Local\Temp\ipykernel_9384\3904531231.py:2: FutureWarning: The default value of regex will change from True to False in a future version.
  df['company_name'] = df['company_name'].str.replace(r'\d+\.\d+\(.*$', '')

In [26]:
df['company_name'].value_counts().head(50)

Optum                                      21
Varite                                     18
Huquo Consulting Pvt. Ltd                  18
Seven Consultancy (HR Solution)            17
Applycup Hiring Solutions Llp              10
Wells Fargo                                 9
Deutsche Bank                               9
BNY Mellon                                  8
Skillety                                    6
Anicalls                                    6
Goalreify Ventures                          6
Diverse Lynx                                6
Megma Services                              6
Virtue Analytics                            5
SAC Management                              5
Urjanet Energy Solutions                    5
Walmart                                     5
ICE                                         5
Busisol Sourcing (India)                    4
Boston Consulting Group                     4
AMERICAN EXPRESS GLOBAL BUSINESS TRAVEL     4
Huptech HR Solutions                        4
Accenture                                   4
Institutional Shareholder Services          4
Poshmark                                    4
Imindyourbusiness                           4
DXC Technology                              4
Adecco Group                                3
Multi Recruit                               3
Checktronix                                 3
T & A Solutions                             3
Quess It Staffing                           3
Lennox India Technology Centre (LITC)       3
AARNA HR SOLUTIONS PVT. LTD.                3
Lakshmi North East Solutions                3
Primo Hiring                                3
Automotive Robotics India                   3
Aspyra HR Services                          3
Talent                                      3
Saavn, LLC                                  3
Aspyra Hr Services                          3
Saffron Consultancy Services                3
Solytics Partners                           3
Experian PLC                                3
Pure Storage                                3
Mediamath                                   3
Otis                                        3
Reubro                                      3
Randstad                                    3
M/S Aarons Visions                          3
Name: company_name, dtype: int64

In [27]:
df['role'].unique()

array(['Data Analyst', 'Other', 'Business Analyst', 'HR Analyst',
       'Data Science & Analytics - Other', 'Service Engineer',
       'Investment Banking Analyst',
       'Business Intelligence & Analytics - Other', 'Financial Analyst',
       'Research & Development - Other', 'Social Media Marketing',
       'Technical Consultant', 'IT & Information Security - Other',
       'Software Development - Other', 'System Analyst',
       'Database Analyst', 'MIS Executive',
       'Non Tech Support - Voice / Blended', 'Technical Lead',
       'Database Architect / Designer', 'Database Administrator',
       'IT Support - Other', 'Marketing - Other',
       'Analytics / BI Manager', 'Data Engineer', 'Statistician',
       'MIS Manager', 'Database Developer / Engineer',
       'Sales Support & Operations - Other',
       'Market Research / Insights Head', 'Research Analyst',
       'Back End Developer', 'Non Tech Support - Non Voice',
       'Product Manager - Other', 'Regulatory Affairs Compliance',
       'Security Engineer / Analyst',
       'Business Development Manager (BDM)', 'Business - Other',
       'Operations Support - Other', 'Team Leader', 'Technical Architect',
       'BFSI', 'Production / Manufacturing Head', 'Data Scientist',
       'DBA / Data warehousing - Other', 'Operations - Other',
       'Analytics Consultant', 'Data warehouse Developer',
       'IT Project Lead', 'Research Associate / Engineer',
       'Manager - Data Science', 'Product Analyst',
       'IT Consulting - Other', 'Branch Sales Executive',
       'Accountant / Accounts Executive', 'Clinical research Scientist',
       'Product Manager', 'Full Stack Developer',
       'Customer Success Manager',
       'Data warehouse Architect / Consultant', 'Research Scientist',
       'HR Generalist', 'Recruitment & Talent Acquisition - Other',
       'System Security Engineer', 'Sr. Consultant', 'Country Head',
       'Logistics Executive', 'Technical Support - Voice / Blended',
       'BI Developer', 'Market Research Manager',
       'BD / Pre Sales - Other', 'Technical Support - Non Voice',
       'Network Manager / Administrator'], dtype=object)

In [28]:
# removes all substrings that are enclosed in parentheses, and strips spaces and commas
df['location'] = df['location'].str.replace(r'\(.*\)', '').str.replace(r'\s.*', '').str.strip().str.rstrip(',')

C:\Users\Moham\AppData\Local\Temp\ipykernel_9384\2213733213.py:1: FutureWarning: The default value of regex will change from True to False in a future version.
  df['location'] = df['location'].str.replace(r'\(.*\)', '').str.replace(r'\s.*', '').str.strip().str.rstrip(',')

In [29]:
df['location'].unique()

array(['Bangalore/Bengaluru', 'PAN', 'New', 'Chennai', 'Pune', 'India',
       'Hyderabad/Secunderabad', 'Kolkata', 'Mumbai', 'Delhi',
       'Gurgaon/Gurugram', 'Surat', 'Thane', 'Noida',
       'Pondicherry/Puducherry', 'Ahmedabad', 'Faridabad', 'Remote',
       'Bokaro', 'Lucknow', 'Kamrej', 'Navi', 'Bangalore/BengaluruView',
       'Jaipur', 'Hiring', 'Bhubaneswar', 'Chandigarh', 'Mohali',
       'Bengaluru', 'Coimbatore', 'Indore', 'Dharmapuri', 'Vadodara',
       'Kochi/Cochin', 'remote', 'Dewas', 'Germany', 'Australia',
       'Vijayawada', 'Gurgaon', 'Hyderabad', 'anywhere',
       'Calicut/Kozhikode', 'Gandhinagar', 'Sikkim', 'mangalagiri',
       'Udaipur', 'Bhilwara', 'Gokak', 'Sonipat/Sonepat', 'United',
       'Ernakulam', 'Bellary/Ballari', 'Guwahati', 'Kochi', 'REMOTE',
       'Rajkot', 'Solapur', 'Imphal', 'Dubai', 'Agartala', 'Chandrapur',
       'Nagpur', 'Panaji/Panjim', 'Bhopal'], dtype=object)

In [30]:
df.loc[df['location'] == 'Bangalore/BengaluruView', 'location'] = 'Bangalore/Bengaluru'
df.loc[df['location'] == 'Bengaluru', 'location'] = 'Bangalore/Bengaluru'
df.loc[df['location'] == 'Gurgaon', 'location'] = 'Gurgaon/Gurugram'
df.loc[df['location'] == 'New', 'location'] = 'Delhi'
df.loc[df['location'] == 'remote', 'location'] = 'Remote'
df.loc[df['location'] == 'REMOTE', 'location'] = 'Remote'

In [31]:
df['location'].value_counts().head(20)

Bangalore/Bengaluru       263
Mumbai                    115
Hyderabad/Secunderabad     85
Pune                       79
Gurgaon/Gurugram           75
Chennai                    71
Noida                      43
Delhi                      42
Remote                     37
Kolkata                    19
Ahmedabad                  14
Hiring                     14
Hyderabad                  11
Mohali                      9
Jaipur                      8
Lucknow                     7
India                       5
Chandigarh                  5
Surat                       5
Kochi/Cochin                4
Name: location, dtype: int64

In [32]:
# doing this to convert the column to integers
df.loc[df['num_applicants'] == 'Less than 10', 'num_applicants'] = 10

In [33]:
df['num_applicants'] = df['num_applicants'].astype(int)

In [34]:
df['num_applicants'].max()

83470

In [35]:
df.iloc[df['num_applicants'].idxmax()]

job_title                                               Data Analyst
company_name                                     Quickxpert Infotech
experience                                               0 - 5 years
salary                                                 Not Disclosed
location                                                     Kolkata
job_description    We have immediate openings for Data Analyst Tr...
role                                                    Data Analyst
industry_type                             Analytics / KPO / Research
department                                  Data Science & Analytics
employment_type                                 Full Time, Permanent
role_category                      Business Intelligence & Analytics
education                                               Any Graduate
key_skills         [SQL, python, C++, C, it, trainee, data analys...
date_posted                                              12 days ago
num_openings                                                     5.0
num_applicants                                                 83470
Name: 108, dtype: object

In [36]:
df.iloc[df['num_applicants'].idxmax()].job_description

"We have immediate openings for Data Analyst Trainees for our clients. Interested candidates can apply on naukri. don't call we will get back to you if shortlisted.\n\nPerks and benefits\nas per standards"

In [37]:
df['num_applicants'].median()

263.0

In [38]:
df['role'].unique()

array(['Data Analyst', 'Other', 'Business Analyst', 'HR Analyst',
       'Data Science & Analytics - Other', 'Service Engineer',
       'Investment Banking Analyst',
       'Business Intelligence & Analytics - Other', 'Financial Analyst',
       'Research & Development - Other', 'Social Media Marketing',
       'Technical Consultant', 'IT & Information Security - Other',
       'Software Development - Other', 'System Analyst',
       'Database Analyst', 'MIS Executive',
       'Non Tech Support - Voice / Blended', 'Technical Lead',
       'Database Architect / Designer', 'Database Administrator',
       'IT Support - Other', 'Marketing - Other',
       'Analytics / BI Manager', 'Data Engineer', 'Statistician',
       'MIS Manager', 'Database Developer / Engineer',
       'Sales Support & Operations - Other',
       'Market Research / Insights Head', 'Research Analyst',
       'Back End Developer', 'Non Tech Support - Non Voice',
       'Product Manager - Other', 'Regulatory Affairs Compliance',
       'Security Engineer / Analyst',
       'Business Development Manager (BDM)', 'Business - Other',
       'Operations Support - Other', 'Team Leader', 'Technical Architect',
       'BFSI', 'Production / Manufacturing Head', 'Data Scientist',
       'DBA / Data warehousing - Other', 'Operations - Other',
       'Analytics Consultant', 'Data warehouse Developer',
       'IT Project Lead', 'Research Associate / Engineer',
       'Manager - Data Science', 'Product Analyst',
       'IT Consulting - Other', 'Branch Sales Executive',
       'Accountant / Accounts Executive', 'Clinical research Scientist',
       'Product Manager', 'Full Stack Developer',
       'Customer Success Manager',
       'Data warehouse Architect / Consultant', 'Research Scientist',
       'HR Generalist', 'Recruitment & Talent Acquisition - Other',
       'System Security Engineer', 'Sr. Consultant', 'Country Head',
       'Logistics Executive', 'Technical Support - Voice / Blended',
       'BI Developer', 'Market Research Manager',
       'BD / Pre Sales - Other', 'Technical Support - Non Voice',
       'Network Manager / Administrator'], dtype=object)

In [39]:
df['job_title'].value_counts().head(20)

Data Analyst                                          299
Senior Data Analyst                                    65
Lead Data Analyst                                      15
Business Data Analyst                                  13
Sr. Data Analyst                                       12
Reference Data Analyst                                  9
Senior Data Management Analyst                          8
DATA ANALYST                                            7
Sr Data Analyst                                         7
Data Analyst 2                                          5
data analyst                                            5
data analyst / data analytics - US MNC (analytics)      5
Associate Data Analyst                                  5
Sr . Data Analyst                                       4
Junior Data Analyst                                     4
Lead Data Management Analyst                            4
Senior Data Analyst - SQL/Python                        4
HR Data Analyst                                         3
Data Analyst IT and consulting                          3
Financial Data Analyst                                  3
Name: job_title, dtype: int64

In [40]:
df['experience'].unique()

array(['0 - 2 years', '0 - 1 years', '2 - 5 years', '0 - 5 years',
       '7 - 12 years', '1 - 3 years', '4 - 7 years', '2 - 7 years',
       '6 - 11 years', '10 - 15 years', '4 - 9 years', '0 - 3 years',
       '4 - 8 years', '8 - 12 years', '5 - 8 years', '2 - 4 years',
       '1 - 4 years', '8 - 13 years', '3 - 4 years', '3 - 6 years',
       '5 - 10 years', '3 - 5 years', '3 - 7 years', '2 - 3 years',
       '1 - 2 years', '7 - 10 years', '1 - 5 years', '7 - 9 years',
       '3 - 10 years', '5 - 7 years', '0 - 6 years', '5 - 9 years',
       '3 - 8 years', '4 - 6 years', '2 - 6 years', '8 - 10 years',
       '6 - 9 years', '0 - 4 years', '10 - 20 years', '10 - 18 years',
       '1 - 6 years', '6 - 8 years', '0 years', '5 - 6 years',
       '8 - 11 years', '5 - 12 years', '4 - 5 years', '10 - 14 years',
       '10 - 12 years', '1 - 12 years', '3 - 9 years', '14 - 20 years',
       '7 - 8 years', '2 - 8 years', '7 - 14 years', '6 - 13 years',
       '7 - 15 years', '11 - 16 years', '1 years', '7 - 11 years',
       '15 - 18 years', '6 - 12 years', '8 - 9 years', '6 - 10 years',
       '2 - 9 years', '9 - 14 years', '1 - 7 years'], dtype=object)

In [41]:
# converting all scattered experience column to few bins for easy visualisation
bins = [0, 2, 5, 10, np.inf]
df['experience_bins'] = pd.cut(df['experience'].str.extract('(\d+)').astype(int)[0].to_list(), bins=bins, labels=['0-2', '2-5', '5-12', '12+'], right=False)

In [42]:
df[['experience', 'experience_bins']].head(50)

       experience experience_bins
0     0 - 2 years             0-2
1     0 - 1 years             0-2
2     0 - 2 years             0-2
3     0 - 2 years             0-2
4     2 - 5 years             2-5
5     0 - 2 years             0-2
6     0 - 5 years             0-2
7    7 - 12 years            5-12
8     0 - 1 years             0-2
9     1 - 3 years             0-2
10    0 - 2 years             0-2
11    0 - 2 years             0-2
12    0 - 2 years             0-2
13    0 - 2 years             0-2
14    4 - 7 years             2-5
15    2 - 7 years             2-5
16   6 - 11 years            5-12
17    0 - 1 years             0-2
18  10 - 15 years             12+
19    4 - 9 years             2-5
20    0 - 2 years             0-2
21    0 - 2 years             0-2
22    0 - 2 years             0-2
23    0 - 1 years             0-2
24    0 - 3 years             0-2
25    4 - 8 years             2-5
26   8 - 12 years            5-12
27    5 - 8 years            5-12
28    2 - 4 years             2-5
29    2 - 4 years             2-5
30    0 - 2 years             0-2
31    1 - 4 years             0-2
32    4 - 7 years             2-5
33   8 - 13 years            5-12
34    3 - 4 years             2-5
35    3 - 4 years             2-5
36    1 - 3 years             0-2
37    0 - 2 years             0-2
38    0 - 2 years             0-2
39    0 - 3 years             0-2
40    4 - 8 years             2-5
41    3 - 6 years             2-5
42    1 - 4 years             0-2
43   5 - 10 years            5-12
44    3 - 5 years             2-5
45    3 - 6 years             2-5
46    3 - 6 years             2-5
47    3 - 7 years             2-5
48    2 - 3 years             2-5
49    1 - 2 years             0-2

In [44]:
# df.to_csv('naukri_data.csv', index=False)