In [41]:
import numpy as np
import pandas as pd
import seaborn as sns
from collections import Counter
from itertools import chain

In [2]:
df = pd.read_json("naukri_data_all.json")

In [5]:
df.head()

,job_title,company_name,experience,salary,location,job_description,role,industry_type,department,employment_type,role_category,education,key_skills,date_posted,num_openings,num_applicants
0,Data Analyst (0-2yrs) Bangalore,Gupta And Sharma,0 - 2 years,"₹ 3,50,000 - 6,00,000 P.A.",Bangalore/Bengaluru( Whitefield ),Roles and Responsibilities\nAcquiring data fro...,Data Analyst,Banking,Data Science & Analytics,"Full Time, Permanent",Business Intelligence & Analytics,"B.Tech/B.E. in Computers, B.Sc in Computers, B...","[plsql, excel, data analysis, sas, oracle sql,...",1 day ago,3.0,2647
1,French Data Analyst,Randstad,0 - 1 years,"₹ 2,50,000 - 3,50,000 P.A.",PAN India,Roles and Responsibilities\n\nJob Description:...,Data Analyst,IT Services & Consulting,Data Science & Analytics,"Full Time, Permanent",Business Intelligence & Analytics,Any Graduate,"[Bi-lingual French, French Data Analyst]",1 day ago,NaN,145
2,Data Analyst,Namdhari Seeds3.7(44 Reviews),0 - 2 years,Not Disclosed,Bangalore/Bengaluru,Roles and Responsibilities\nCreate and validat...,Other,Agriculture / Forestry / Fishing,Other,"Full Time, Permanent",Other,MBA/PGDM in Any Specialization,"[supply chain operations, data analytics, dash...",13 days ago,NaN,8751
3,Business Analyst/ Software Analyst/ Data Analyst,Optiontown2.4(24 Reviews),0 - 2 years,"₹ 4,00,000 - 7,00,000 P.A.",New Delhi( Rani Bagh ),"Analysts will leverage analytic, quantitative ...",Business Analyst,Aviation,Data Science & Analytics,"Full Time, Permanent",Business Intelligence & Analytics,B.Tech/B.E. in Any Specialization,"[Analysis, Predictive Modeling, Requirement Ga...",1 day ago,NaN,1358
4,HR Data Analyst,Walmart4.2(12887 Reviews),2 - 5 years,Not Disclosed,Bangalore/Bengaluru,Data Analyst - TA Position summary:\nDemonstra...,HR Analyst,Software Product,Human Resources,"Full Time, Temporary/Contractual",HR Operations,Any Graduate,"[Excel Report Preparation, excel, data analyti...",Few Hours Ago,NaN,50

In [7]:
df['role'].unique()

array(['Data Analyst', 'Other', 'Business Analyst', 'HR Analyst',
       'Data Science & Analytics - Other', 'Service Engineer',
       'Investment Banking Analyst',
       'Business Intelligence & Analytics - Other', 'Financial Analyst',
       'Research & Development - Other', 'Social Media Marketing',
       'Technical Consultant', 'IT & Information Security - Other',
       'Software Development - Other', 'System Analyst',
       'Database Analyst', 'MIS Executive',
       'Non Tech Support - Voice / Blended', 'Technical Lead',
       'Database Architect / Designer', 'Database Administrator',
       'IT Support - Other', 'Marketing - Other',
       'Analytics / BI Manager', 'Data Engineer', 'Statistician',
       'MIS Manager', 'Database Developer / Engineer',
       'Sales Support & Operations - Other',
       'Market Research / Insights Head', 'Research Analyst',
       'Back End Developer', 'Non Tech Support - Non Voice',
       'Product Manager - Other', 'Regulatory Affairs Compliance',
       'Security Engineer / Analyst',
       'Business Development Manager (BDM)', 'Business - Other',
       'Operations Support - Other', 'Team Leader', 'Technical Architect',
       'BFSI', 'Production / Manufacturing Head', 'Data Scientist',
       'DBA / Data warehousing - Other', 'Operations - Other',
       'Analytics Consultant', 'Data warehouse Developer',
       'IT Project Lead', 'Research Associate / Engineer',
       'Manager - Data Science', 'Product Analyst',
       'IT Consulting - Other', 'Branch Sales Executive',
       'Accountant / Accounts Executive', 'Clinical research Scientist',
       'Product Manager', 'Full Stack Developer',
       'Customer Success Manager',
       'Data warehouse Architect / Consultant', 'Research Scientist',
       'HR Generalist', 'Recruitment & Talent Acquisition - Other',
       'System Security Engineer', 'Sr. Consultant', 'Country Head',
       'Logistics Executive', 'Technical Support - Voice / Blended',
       'BI Developer', 'Market Research Manager',
       'BD / Pre Sales - Other', 'Technical Support - Non Voice',
       'Network Manager / Administrator'], dtype=object)

In [8]:
df['education'].unique()

array(['B.Tech/B.E. in Computers, B.Sc in Computers, BCA in Computers',
       'Any Graduate', 'MBA/PGDM in Any Specialization',
       'B.Tech/B.E. in Any Specialization', 'Other Post Graduate',
       'B.Sc in Computers',
       'B.Sc in Any Specialization, BCA in Any Specialization, B.Tech/B.E. in Any Specialization',
       'BCA in Any Specialization, B.Sc in Any Specialization, B.Tech/B.E. in Any Specialization',
       'BCA in Computers, B.Sc in Any Specialization, B.Com in Commerce, Any Graduate, B.Tech/B.E. in Any Specialization',
       'B.B.A/ B.M.S in Management, Any Graduate',
       'BCA in Computers, B.Tech/B.E. in Computers, B.Sc in Maths, Computers, Statistics, B.A in Economics, Statistics',
       'B.A in Economics, Statistics, Maths, B.Tech/B.E. in Computers, B.Sc in Maths, Computers, Statistics, BCA in Computers',
       'MBA/PGDM in Finance', 'B.Tech/B.E. in Civil',
       'Graduation Not Required', 'Any Postgraduate',
       'B.Sc in Maths, Computers, Statistics',
       'B.Com in Any Specialization',
       'B.Tech/B.E. in Any Specialization, B.Sc in Any Specialization, BCA in Any Specialization',
       'B.Sc in Maths, Physics, Computers, Diploma in Engineering',
       'MBA/PGDM in Marketing',
       'Any Graduate, B.B.A/ B.M.S in Management',
       'BCA in Any Specialization, B.Sc in Computers, B.Tech/B.E. in Any Specialization',
       'B.Tech/B.E. in Production/Industrial',
       'B.Tech/B.E. in Any Specialization, Any Graduate',
       'B.A in Maths, B.Sc in Maths, B.Tech/B.E. in Any Specialization',
       'BCA in Any Specialization, B.Tech/B.E. in Any Specialization, B.Sc in Any Specialization',
       'B.Tech/B.E. in Any Specialization, B.Sc in Any Specialization',
       'B.Sc in Any Specialization, B.Tech/B.E. in Any Specialization, BCA in Any Specialization',
       'B.Sc in Computers, B.Tech/B.E. in Computers, BCA in Computers',
       'BCA in Any Specialization',
       'B.Tech/B.E. in Production/Industrial, BCA in Computers',
       'Any Graduate, B.Tech/B.E. in Production/Industrial',
       'B.Tech/B.E. in Computers, BCA in Computers, B.A in Statistics, Maths, B.Sc in Maths, Computers, Statistics',
       'B.Sc in Chemistry',
       'CA in Any Specialization, MBA/PGDM in Finance',
       'B.B.A/ B.M.S in Any Specialization, B.A in Economics',
       'B.A in Statistics, Maths, B.Sc in Maths, Computers, Statistics, B.Tech/B.E. in Computers, BCA in Computers',
       'B.A in Economics, Maths, B.Sc in Maths',
       'B.Com in Any Specialization, B.Tech/B.E. in Computers, B.A in Economics',
       'B.Tech/B.E. in Computers', 'B.Tech/B.E.',
       'B.Tech/B.E. in Electrical',
       'B.Tech/B.E. in Computers, B.Sc in Maths, Computers, Statistics, BCA in Computers, B.A in Statistics, Maths',
       'Any Graduate, B.Tech/B.E. in Any Specialization, B.Sc in Any Specialization, BCA in Any Specialization, B.B.A/ B.M.S in Any Specialization, B.Com in Any Specialization',
       'B.Tech/B.E. in Any Specialization, BCA in Any Specialization, B.Sc in Any Specialization',
       'Any Graduate, B.Tech/B.E. in Production/Industrial, B.Sc in Chemistry',
       'B.B.A/ B.M.S in Management', 'Any Graduate, BCA in Computers',
       'Any Graduate, B.A in Any Specialization',
       'B.A in Any Specialization, B.Tech/B.E. in Any Specialization, Any Graduate, B.Sc in Any Specialization',
       'Any Graduate, B.Tech/B.E. in Any Specialization',
       'B.Tech/B.E. in Production/Industrial, B.Sc in Chemistry',
       'B.Sc in Chemistry, B.Com in Commerce, B.Tech/B.E. in Production/Industrial',
       'BCA in Computers, B.A in Economics, Statistics, Maths, B.Tech/B.E. in Computers, B.Sc in Maths, Statistics, Computers',
       'MS/M.Sc(Science) in Data Informatics, Maths, Computers, Statistics',
       'B.Tech/B.E. in Computers, B.Sc in Maths, Computers, Statistics, BCA in Computers, B.A in Economics, Statistics, Maths',
       'B.A',
       'B.Sc in Maths, Statistics, Computers, B.A in Statistics, Maths, BCA in Computers, B.Tech/B.E. in Computers',
       'Any Graduate, B.Sc in Any Specialization, B.Tech/B.E. in Any Specialization',
       'B.Sc in Maths, Statistics',
       'B.Tech/B.E. in Any Specialization, BCA in Any Specialization',
       'Any Graduate, B.Sc in Chemistry, B.Tech/B.E. in Production/Industrial',
       'B.Tech/B.E. in Any Specialization, B.A in Any Specialization, B.Sc in Any Specialization',
       'B.A in Any Specialization, Any Graduate',
       'Any Graduate, Diploma in Any Specialization',
       'B.Pharma in Any Specialization',
       'B.Tech/B.E. in Any Specialization, Diploma in Any Specialization',
       'BCA in Computers, B.Sc in Computers, B.Tech/B.E. in Computers',
       'B.Sc in Computers, Diploma in Any Specialization, B.Tech/B.E. in Any Specialization',
       'Any Graduate, B.Sc in Computers, B.Tech/B.E. in Computers',
       'B.Sc in Any Specialization', 'BDS in Dentistry, Any Graduate',
       'BCA in Any Specialization, B.Tech/B.E. in Any Specialization',
       'B.A in Any Specialization, B.Sc in Any Specialization',
       'B.A, B.Sc in Chemistry, Any Graduate',
       'B.B.A/ B.M.S in Management, B.A',
       'B.Sc in Chemistry, BCA in Computers',
       'B.Tech/B.E. in Any Specialization, B.Sc in Any Specialization, B.A in Any Specialization',
       'B.A in Any Specialization, B.Sc in Any Specialization, B.Tech/B.E. in Any Specialization',
       'BCA in Computers', 'B.Sc in Computers, B.Tech/B.E. in Computers',
       'B.A in Maths, B.Sc in Maths, Statistics',
       'B.Sc in Maths, Physics, B.Tech/B.E. in Computers, B.A in Maths',
       'B.A in Fine Arts, B.Tech/B.E. in Production/Industrial, Any Graduate',
       'B.B.A/ B.M.S in Any Specialization, Any Graduate',
       'B.Tech/B.E. in Computers, BCA in Computers, B.Sc in Computers',
       'B.Sc in Chemistry, B.Tech/B.E. in Production/Industrial',
       'B.Tech/B.E. in Any Specialization, B.Sc in Maths, Statistics',
       'B.B.A/ B.M.S in Management, Any Graduate, B.Tech/B.E. in Production/Industrial',
       'B.Tech/B.E. in Production/Industrial, Any Graduate',
       'B.Sc in Computers, B.Tech/B.E. in Any Specialization, BCA in Any Specialization',
       'LLB in Law', 'B.A, B.B.A/ B.M.S in Management, Any Graduate',
       'BCA in Computers, B.Sc in Maths, Computers, Statistics, B.Tech/B.E. in Computers, B.A in Statistics, Maths',
       'BCA in Computers, B.Tech/B.E. in Computers, B.Sc in Computers',
       'B.Sc in Computers, BCA in Computers, B.Tech/B.E. in Computers',
       'B.A, Any Graduate', 'Diploma in Any Specialization',
       'B.A in Economics',
       'B.Tech/B.E. in Production/Industrial, B.Com in Commerce',
       'Diploma in Mechanical, Any Graduate'], dtype=object)

In [9]:
df['role'].value_counts()

Data Analyst                          566
Business Analyst                      133
Back End Developer                     25
System Analyst                         21
Other                                  19
                                     ...
Regulatory Affairs Compliance           1
Product Manager - Other                 1
Sales Support & Operations - Other      1
Marketing - Other                       1
Network Manager / Administrator         1
Name: role, Length: 73, dtype: int64

In [10]:
df['education'].value_counts()

Any Graduate                                                                                                             717
B.Tech/B.E. in Any Specialization                                                                                         52
B.Tech/B.E. in Computers                                                                                                  28
B.Tech/B.E. in Production/Industrial                                                                                      15
B.Sc in Any Specialization, BCA in Any Specialization, B.Tech/B.E. in Any Specialization                                   6
                                                                                                                        ...
BCA in Computers, B.A in Economics, Statistics, Maths, B.Tech/B.E. in Computers, B.Sc in Maths, Statistics, Computers      1
B.Sc in Chemistry, B.Com in Commerce, B.Tech/B.E. in Production/Industrial                                                 1
B.Tech/B.E. in Production/Industrial, B.Sc in Chemistry                                                                    1
MBA/PGDM in Finance                                                                                                        1
Diploma in Mechanical, Any Graduate                                                                                        1
Name: education, Length: 102, dtype: int64

In [12]:
df['salary'].value_counts()

Not Disclosed                     855
₹ 15,00,000 - 30,00,000 P.A.        4
₹ 3,00,000 - 5,00,000 P.A.          4
₹ 15,00,000 - 27,50,000 P.A.        3
₹ 60,00,000 - 1,00,00,000 P.A.      3
                                 ...
₹ 2,50,000 - 3,50,000 P.A.          1
₹ 3,00,000 - 4,50,000 P.A.          1
₹ 7,00,000 - 13,00,000 P.A.         1
₹ 7,00,000 - 9,00,000 P.A.          1
₹ 2,00,000 - 7,00,000 P.A.          1
Name: salary, Length: 82, dtype: int64

In [16]:
# percentage of not disclosed
855/df.shape[0]

0.8841778697001034

In [19]:
df['experience'].value_counts().head(50)

2 - 5 years      83
5 - 10 years     60
2 - 4 years      60
3 - 8 years      54
1 - 3 years      50
3 - 6 years      49
2 - 7 years      48
0 - 2 years      41
1 - 4 years      41
3 - 5 years      36
5 - 8 years      31
1 - 6 years      23
1 - 2 years      22
2 - 3 years      22
4 - 9 years      22
3 - 7 years      20
4 - 6 years      20
4 - 7 years      19
2 - 6 years      18
0 - 1 years      18
6 - 11 years     18
3 - 4 years      17
1 - 5 years      17
5 - 7 years      17
0 - 3 years      15
0 - 4 years      13
7 - 12 years     12
4 - 8 years      11
6 - 8 years       9
8 - 10 years      9
7 - 10 years      7
4 - 5 years       6
0 - 5 years       6
8 - 13 years      6
5 - 9 years       5
8 - 12 years      5
6 - 9 years       5
10 - 20 years     4
0 years           4
0 - 6 years       4
2 - 8 years       3
3 - 9 years       3
7 - 9 years       3
5 - 6 years       3
10 - 15 years     3
6 - 10 years      2
7 - 11 years      2
10 - 12 years     2
1 years           1
15 - 18 years     1
Name: experience, dtype: int64

In [22]:
df['company_name'].value_counts().head(20)

Optum4.1(2117 Reviews)                               21
Varite3.7(81 Reviews)                                18
Seven Consultancy (HR Solution)                      17
Huquo Consulting Pvt. Ltd                            16
Applycup Hiring Solutions Llp4.9(15 Reviews)         10
Deutsche Bank4.2(2087 Reviews)                        9
Wells Fargo4.2(3470 Reviews)                          9
BNY Mellon4.2(2542 Reviews)                           8
Megma Services                                        6
Anicalls4.7(2 Reviews)                                6
Skillety3.8(3 Reviews)                                6
Diverse Lynx3.3(76 Reviews)                           6
Goalreify Ventures4.8(5 Reviews)                      6
SAC Management1.9(14 Reviews)                         5
Urjanet Energy Solutions3.8(80 Reviews)               5
ICE3.8(20 Reviews)                                    5
Virtue Analytics4.6(7 Reviews)                        5
Walmart4.2(12887 Reviews)                             5
Institutional Shareholder Services3.5(30 Reviews)     4
Boston Consulting Group4.1(144 Reviews)               4
Name: company_name, dtype: int64

In [25]:
df['location'].value_counts().head(20)

Bangalore/Bengaluru                            229
Mumbai                                          84
Pune                                            63
Hyderabad/Secunderabad                          63
Chennai                                         60
Gurgaon/Gurugram                                56
Noida                                           30
Bengaluru                                       24
Remote                                          22
New Delhi                                       18
remote                                          14
Ahmedabad                                       12
Gurgaon/Gurugram, Bangalore/Bengaluru           10
Hyderabad                                       10
Hyderabad/Secunderabad, Bangalore/Bengaluru      9
Mumbai (All Areas)                               9
Chennai, Bangalore/Bengaluru                     7
Jaipur                                           7
Gurgaon                                          6
Lucknow                                          6
Name: location, dtype: int64

In [26]:
df['industry_type'].value_counts().head(50)

IT Services & Consulting                                 327
Recruitment / Staffing                                   124
Banking                                                   59
Internet                                                  50
Analytics / KPO / Research                                43
Software Product                                          33
Financial Services                                        31
Management Consulting                                     31
BPO / Call Centre                                         22
Pharmaceutical & Life Sciences                            18
Medical Services / Hospital                               16
Education / Training                                      15
Industrial Equipment / Machinery                          14
Advertising & Marketing                                   14
Film / Music / Entertainment                              12
Retail                                                    11
Automobile                                                10
Insurance                                                 10
Telecom / ISP                                             10
Courier / Logistics                                        7
Miscellaneous                                              7
Hardware & Networking                                      7
Engineering & Construction                                 6
Accounting / Auditing                                      6
Travel & Tourism                                           5
Petrochemical / Plastics / Rubber                          5
Electronic Components / Semiconductors                     5
FMCG                                                       4
Aviation                                                   4
NGO / Social Services / Industry Associations              4
Electronics Manufacturing                                  4
Medical Devices & Equipment                                4
Real Estate                                                4
Building Material                                          3
E-Learning / EdTech                                        3
Consumer Electronics & Appliances                          3
Gems & Jewellery                                           3
Power                                                      3
NBFC                                                       3
Fitness & Wellness                                         3
Ports & Shipping                                           2
Investment Banking / Venture Capital / Private Equity      2
Events / Live Entertainment                                2
Gaming                                                     2
Defence & Aerospace                                        2
Beverage                                                   1
Printing & Publishing                                      1
Government / Public Administration                         1
Auto Components                                            1
Textile & Apparel                                          1
Name: industry_type, dtype: int64

In [28]:
df['employment_type'].value_counts()

Full Time, Permanent                958
Full Time, Temporary/Contractual      9
Name: employment_type, dtype: int64

In [29]:
df['department'].value_counts()

Data Science & Analytics                   729
Engineering - Software & QA                 83
Customer Success, Service & Operations      48
IT & Information Security                   30
Other                                       19
Finance & Accounting                        10
BFSI, Investments & Trading                  8
Sales & Business Development                 6
Research & Development                       6
Product Management                           5
Marketing & Communication                    5
Consulting                                   5
Human Resources                              4
Risk Management & Compliance                 2
Project & Program Management                 2
Legal & Regulatory                           1
Production, Manufacturing & Engineering      1
Strategic & Top Management                   1
Procurement & Supply Chain                   1
Engineering - Hardware & Networks            1
Name: department, dtype: int64

Less than 10    10
40               7
55               7
58               6
47               6
101              6
85               6
158              6
150              5
110              5
144              5
234              5
154              5
192              5
121              4
70               4
145              4
291              4
178              4
153              4
62               4
466              4
191              4
86               4
99               4
143              4
46               4
43               4
80               4
56               4
39               4
108              4
69               4
136              4
95               4
50               4
229              4
185              4
64               4
89               4
140              3
165              3
59               3
224              3
71               3
1161             3
207              3
170              3
127              3
157              3
Name: num_applicants, dtype: int64

In [36]:
df['num_openings'].value_counts(dropna=False)

1.0     651
NaN     263
2.0      14
4.0       9
5.0       9
3.0       4
10.0      3
9.0       3
7.0       3
6.0       2
20.0      2
50.0      1
87.0      1
21.0      1
30.0      1
Name: num_openings, dtype: int64

In [37]:
df['num_openings'].nlargest()

863    87.0
106    50.0
890    30.0
883    21.0
423    20.0
Name: num_openings, dtype: float64

In [38]:
df.iloc[863]

job_title          EDP officer / Data Analyst | Jhunjhunun | Raja...
company_name                                      RMW India Services
experience                                               0 - 4 years
salary                                    ₹ 3,00,000 - 5,00,000 P.A.
location                          Chandrapur, Jhunjhunun, Ahmednagar
job_description    - Process various forms for admission, test re...
role                                                    Data Analyst
industry_type                                    E-Learning / EdTech
department                                  Data Science & Analytics
employment_type                                 Full Time, Permanent
role_category                      Business Intelligence & Analytics
education                                               Any Graduate
key_skills         [Advanced Excel, Report Preparation, Data Entr...
date_posted                                              18 days ago
num_openings                                                    87.0
num_applicants                                                   780
Name: 863, dtype: object

In [46]:
# Flatten the list of skills into a single list
skills = list(chain.from_iterable(df['key_skills']))

# Count the occurrences of each skill
skill_counts = Counter(skills)

# Sort the skills by their count in descending order
most_common_skills = skill_counts.most_common()

# Print the most common skills
print(most_common_skills[:50])

[('SQL', 400), ('Data Analyst', 313), ('Python', 273), ('Data analysis', 201), ('Analytical', 163), ('Analytics', 154), ('Excel', 100), ('Data management', 100), ('Data Analysis', 91), ('data analysis', 88), ('Data Analytics', 85), ('Data mining', 83), ('Data quality', 81), ('Data collection', 75), ('Tableau', 67), ('Business intelligence', 65), ('Computer science', 63), ('Data analytics', 62), ('Monitoring', 58), ('SAS', 57), ('Operations', 53), ('Management', 53), ('data visualization', 48), ('Data modeling', 44), ('power bi', 43), ('Machine learning', 42), ('Process improvement', 42), ('Automation', 42), ('MySQL', 41), ('Consulting', 39), ('Macros', 36), ('Recruitment', 35), ('MIS', 34), ('MS Office', 34), ('Advanced Excel', 34), ('data science', 33), ('CRM', 31), ('python', 31), ('Project management', 31), ('Financial services', 31), ('Analytical skills', 31), ('Power BI', 30), ('Data Management', 30), ('Coding', 29), ('microsoft', 29), ('Healthcare', 29), ('Oracle', 27), ('Statistics', 26), ('tableau', 26), ('sql', 26)]